 /** Lavanda Colors **/
$lav-purple: #7e5b9b;
$lav-purple-alt: #8963a8;
$lav-royal: #3B214C;
$lav-green:#72C4B9;
$lav-blue:#3373B4;
$lav-blue-alt: #4a90e2;
$lav-red: #D35847;
$lav-red-alt: #d0021b;
$lav-gold: #F7BF47;
$lav-silver:#BCC6CC;
$lav-grey: #7f8fa4;
$lav-grey-alt: #8798ad;
$lav-grey-dark: #354052;
$lav-grey-dark-alt: #2e384d;
$lav-grey-light: #9b9b9b;
$lav-greyed-out: #d1d8dc;
$lav-grey-bg: #f4f6fc;
$lav-grey-gb-original: #eff3f6;
$lav-text: #444;
$lav-message-read: #e8e8e8;
$lav-new: #b4c0e2;
$lav-new-tint: #b0baca;
$lav-new-light: #f9faff;
$lav-new-light-alt: #e0e7ff;
$lav-new-dark: #333c4f;
$lav-new-dark-alt: #30394e;
$lav-new-dark-alt-shade: #485061;
$lav-new-dark-tint: #7a8fa6;
$lav-new-grey: #e7eaee;

$lav-platform-airbnb: #FF5A60;
$lav-platform-homeaway: #2a6ebb;
$lav-platform-direct-booking: #3B214C;
$lav-platform-expedia: #072F54;
$lav-platform-plumguide: #9e6ebb;

$primary: $lav-blue !default;
$secondary: $lav-green !default;
$info: $lav-gold !default;
$success: $lav-green !default;
$warning: $lav-gold !default;
$danger: $lav-red !default;