// Typography
$avenir: 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$bg: 'Brandon Grotesque', Helvetica, Arial, sans-serif;

$family-sans-serif: $avenir !default;
$family-monospace: monospace !default;
$family-primary: $avenir !default;
$family-secondary: $bg !default;
$render-mode: optimizeLegibility !default;

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;



.heading { 
    font-family: $bg;
    letter-spacing: 1px
 }
